@use "../globals.scss";

.newtask{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-family: globals.$default-font;
    .title{
        font-size: large;
        font-weight: 500;
    }

    .textentry{
        display: flex;
        flex-direction: column;
        gap: 8px;

        label{
            font-size: small;
            font-weight: 400;
        }

        input{
            @include globals.border(10px, solid);
            padding: 10px;
            font-size: small;
        }
    }

    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
        flex-wrap: wrap;

        :first-child{
            @include globals.secondary-button();
            flex-grow: 1;
        }

        :last-child{
            @include globals.primary-button();
            flex-grow: 1
        }
    }
}

@media screen and (max-width: 480px)
{
    .buttons{
        flex-direction: column;
        button{
            width: 100%;
        }
    }
}