@use "../../app/globals";

//variables
    //sizes
    $checkbox-size: 16px;

    //colors
    $checked-border-color: #0796D3;
    $checked-bg-color: #A0DCF6;

.checkbox
{
    @include globals.border(4px);
    width: $checkbox-size;
    height: $checkbox-size;
    justify-content: center;
    align-items: center;

    &.checked{
        border-color: $checked-border-color;
        background-color: $checked-bg-color;
    }
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
